<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./assets/img/moki1.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@400,700,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css"> 
    <link rel="stylesheet" href="./assets/css/principal.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./assets/js/principal.js"></script>
    <title>Moki - Tableau de Bord</title>
</head>
<body class="ms-Icon">
    <main>
        <div class="container container-dashboard">
            <section class="dashboard-sidebar">
                <div class="list-ul">
                    <h2> 
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" focusable="false" aria-hidden="true" class="SvgIcon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.205 5h13.59c1.114 0 1.519.116 1.926.334.407.218.727.538.945.945.218.407.334.811.334 1.926v7.59c0 1.115-.116 1.519-.334 1.926a2.272 2.272 0 0 1-.945.945c-.407.218-.811.334-1.926.334H5.205c-1.115 0-1.519-.116-1.926-.334a2.272 2.272 0 0 1-.945-.945C2.116 17.314 2 16.91 2 15.795v-7.59c0-1.115.116-1.519.334-1.926.218-.407.538-.727.945-.945C3.686 5.116 4.09 5 5.205 5zM4 9.5l-.145-1.737.084-.056 1.059.923 5.562 3.919a2.5 2.5 0 0 0 2.88 0l5.558-3.915 1.062-.927.085.056L20 9.5v6.295c0 .427-.019.694-.049.849a.353.353 0 0 1-.049.134.275.275 0 0 1-.124.125.353.353 0 0 1-.134.048c-.155.03-.422.049-.849.049H5.205c-.427 0-.694-.019-.849-.049a.353.353 0 0 1-.134-.049.275.275 0 0 1-.124-.124.353.353 0 0 1-.049-.134c-.03-.155-.049-.422-.049-.849V9.5zm14.55-2.8L16 7H8l-2.55-.3-.103.069a10 10 0 0 1 2.069 1.119l4.296 3.026a.5.5 0 0 0 .576 0L16.58 7.89a9.999 9.999 0 0 1 2.073-1.12l-.104-.07z" fill="currentColor" strokeWidth="0.2"></path>
                        </svg>
                        Messages
                    </h2>
                    <div class="nav-search search-container">
                        <input type="search" class="search-username" name="" id="" placeholder="Rechercher">
                        <i class="ms-Icon search-icon">&#xE721;</i>
                    </div>

                    <div class="list-conversation">
                        <div class="list-search" style="display: none;">
                            <% if (typeof data !== 'undefined' && data.searchData && data.searchData.search == true){ %>
                                <div class="center">
                                    <span>Recherche</span>
                                </div>
                                
                                <% data.searchData.users.forEach(function(user) { %>
                                    <a href="/show-conversation/<%= user.unique_id %>" class="search-item" data-unique-id="<%= user.unique_id %>">
                                        <section class="profil-avatar">
                                            <img src="data:image/png;base64,<%= user.avatar %>" alt="avatar">
                                        </section>
                                        <section class="user-name-message">
                                            <span class="user-name"><%= user.username %></span>
                                        </section>
                                    </a>
                                <% }); %>
                    
                                <div class="center">
                                    <span>Conversation</span>
                                </div>

                                <script>
                                    let searchItem = $('.search-item');
                                    searchItem.click(function() {
                                        // Le reste du code reste inchangé
                                        const uniqueId = $(this).data('unique-id');
                                        $.ajax({
                                            url: `/show-conversation/${uniqueId}`,
                                            type: 'POST',
                                            success: function(data) {
                                                // Utilisez l'uniqueId de la conversation renvoyé pour faire une requête à /conversation
                                                $.ajax({
                                                    url: `/conversation?uniqueId=${data.uniqueId}`,
                                                    type: 'GET',
                                                    success: function(data) {
                                                        // Affichez les données de la conversation dans la console
                                                        //console.log(data);
                                                    },
                                                    error: function(error) {
                                                        console.error('Erreur lors de la récupération des données de la conversation :', error);
                                                    }
                                                });
                                                
                                            },
                                            error: function(error) {
                                                console.error('Erreur lors de l\'ajout de la conversation :', error);
                                            }
                                        });
                                    });

                                </script>
                            <% } %>
                        </div>

                        <% if (typeof data.conversationData === 'object' && data.conversationData !== null) { %>
                            <% Object.keys(data.conversationData).forEach(function(key) { %>
                                <% let conversation = data.conversationData[key]; %>
                                <% if (conversation.user) { %>
                                    <a href="/show-conversation/<%= conversation.user.unique_id %>" class="user-conversations conversations-item" data-unique-id="<%= conversation.user.unique_id %>">
                                        <section class="profil-avatar">
                                            <img src="data:image/png;base64,<%= conversation.user.image %>" alt="avatar">
                                        </section>
                                    
                                        <section class="user-name-message">
                                            <span class="user-name"><%= conversation.user.username %></span>
                                            <% if (Array.isArray(conversation.messages) && conversation.messages.length > 0) { %>
                                                <% let lastMessage = conversation.messages[conversation.messages.length - 1]; %>
                                                <% if (!lastMessage.vu) { %>
                                                    <p class="message semi-bold">Nouveau message</p>
                                                <% } else { %>
                                                    <p class="message"><%= lastMessage.contenu %></p>
                                                <% } %>
                                            <% } else { %>
                                                <p class="message"></p>
                                            <% } %>
                                        </section>
                                    
                                        <section class="message-time">
                                            <% if (Array.isArray(conversation.messages) && conversation.messages.length > 0) { %>
                                                <% let lastMessage = conversation.messages[conversation.messages.length - 1]; %>
                                                <span class="time"><%= lastMessage.heure %></span>
                                            <% } else { %>
                                                <span class="time">-</span>
                                            <% } %>
                                        </section>
                                    </a>
                                <% } %>
                            <% }); %>
                            <% if (Object.keys(data.conversationData).length === 0) { %>
                                <div class="conversation-waiting">
                                    <section class="waiting-img">
                                        <img src="./assets/img/_7a1bca4e-bc14-4c54-807f-40bb18d50baa/_7a1bca4e-bc14-4c54-807f-40bb18d50baa_30.png">
                                    </section>
                                </div>
                            <% } %>
                        <% } else { %>
                            <p>Aucune conversation disponible.</p>
                        <% } %>
                        
                        <div class="group-conversations conversations-item" style="display: none;">
                            <section class="profil-avatar">
                                <img src="./assets/img/1454641761-312a147281173a99e78c10975f9debc31998aa32f388f45ffcca8e1282a09992-d.jpg" alt="avatar">
                            </section>
    
                            <section class="user-name-message">
                                <span class="user-name">Principal</span>
                                <p class="message">Aucune chance, qu'il arrive à atteindre la </p>
                            </section>
    
                            <section class="message-time">
                                <span class="time">10min</span>
                            </section>
                        </div>
                    </div>
                    
                    <div class="profil-bar-user">
                        <div class="user-profil-avatar">
                            <section class="profil-avatar">
                                <img src="data:image/png;base64,<%= data.dashboardData.avatar %>" alt="avatar">
                            </section>
                        </div>
                        <div class="user-name-status">
                            <section class="user-name semi-bold"><%= data.dashboardData.username %></section>
                            <p class="status-user">En ligne</p>
                        </div>

                        <a href="/logout" class="user-btn-deconnect" title="Se déconnecter">
                            <section class="btn-deconnect">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" focusable="false" aria-hidden="true" class="SvgIcon">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.593 10.943c.584.585.584 1.53 0 2.116L18.71 15.95c-.39.39-1.03.39-1.42 0a.996.996 0 0 1 0-1.41 9.552 9.552 0 0 1 1.689-1.345l.387-.242-.207-.206a10 10 0 0 1-2.24.254H8.998a1 1 0 1 1 0-2h7.921a10 10 0 0 1 2.24.254l.207-.206-.386-.241a9.562 9.562 0 0 1-1.69-1.348.996.996 0 0 1 0-1.41c.39-.39 1.03-.39 1.42 0l2.883 2.893zM14 16a1 1 0 0 0-1 1v1.5a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1.505a1 1 0 1 0 2 0V5.5A2.5 2.5 0 0 0 12.5 3h-7A2.5 2.5 0 0 0 3 5.5v13A2.5 2.5 0 0 0 5.5 21h7a2.5 2.5 0 0 0 2.5-2.5V17a1 1 0 0 0-1-1z" fill="currentColor" strokeWidth="0.4"></path>
                                </svg>                        
                            </section>
                        </a>                      
                    </div>                    
                </div>
            </section>

            <section class="dashboard-main <% if (data.showConversationData && data.showConversationData.show && data.showConversationData.conversationData) { %> <% } else { %> dashboard-waiting-main <% } %>">
                <% if (data.showConversationData && data.showConversationData.show == true && data.showConversationData.conversationData) { %>
                    <div class="profil-toggle-header">
                        <% if (data.showConversationData && data.showConversationData.conversationData && data.showConversationData.usernames.uniqueId.username) { %>
                        <div class="profil-header">
                            <section class="status-user-point" style="background-color: var(--accent-primary);"></section>
                            
                            <section class="profil-avatar">
                                <img src="data:image/png;base64,<%= data.showConversationData.avatarUniqueId %>" alt="avatar">
                            </section>
                                
                            <section class="user-name semi-bold"><%= data.showConversationData.usernames.uniqueId.username %> <br> <p class="status-user regular">En ligne</p></section>
                        </div>
                        
                        <div class="toggle-menu-list">
                            <section class="toggle-btn">
                                <span class="btn-item"></span>
                                <span class="btn-item"></span>
                                <span class="btn-item"></span>
                            </section>

                            <section class="menu-list">
                                <span class="menu-profil-item">Profil</span>
                                <span class="menu-profil-item">Bloquer</span>
                                <span class="menu-profil-item">Supprimer</span>
                                <span class="menu-profil-item">Signaler</span>
                            </section>
                        </div>
                        
                        <% } %>
                    </div>
                    
                    <div class="list-contenu">
                        <% if (data.showConversationData && data.showConversationData.conversationData) { %>
                            <% data.showConversationData.conversationData.forEach(function(message) { %>
                                <% if (message.utilisateur_id === data.showConversationData.usernames.currentUserId.uniqueId) { %>
                                    <div class="my-message contenu-item">
                                        <section class="my-username-time">
                                            <%= data.showConversationData.usernames.currentUserId.username %>, <%= message.created_at %>
                                        </section>
                    
                                        <div class="message-content">
                                            <section class="message"><%= message.contenu %></section>
                    
                                            <section class="profil-avatar">
                                                <img src="data:image/png;base64,<%= data.showConversationData.avatarCurrentUserId %>" alt="avatar">
                                            </section>
                                        </div>
                                    </div>
                                <% } else if(message.utilisateur_id === data.showConversationData.usernames.uniqueId.uniqueId)  { %>
                                    <div class="own-message contenu-item">
                                        <section class="own-username-time">
                                            <%= data.showConversationData.usernames.uniqueId.username %>, <%= message.created_at %>
                                        </section>
                    
                                        <div class="message-content">
                                            <section class="profil-avatar">
                                                <img src="data:image/png;base64,<%= data.showConversationData.avatarUniqueId %>" alt="avatar">
                                            </section>
                                            
                                            <section class="message"><%= message.contenu %></section>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        <% } %>
                    </div>
                    
                    <% if (data.showConversationData && data.showConversationData.conversationData && data.showConversationData.usernames.uniqueId.username) { %>
                        <div class="type-message">
                            <input type="text" class="input-message" placeholder="Ecrit ton message ici...">
                            <div class="btn-send" data-unique-id="<%= data.showConversationData.usernames.uniqueId.uniqueId %>">
                                <svg viewBox="0 0 24 24" id="btnSend">
                                    <path fill="currentColor" d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z" strokeWidth="0.2"></path>
                                </svg>
                            </div>
                        </div>
                    <% } %>
                    
                <% } else { %>
                    <div class="dashboard-waiting">
                        <section class="waiting-img">
                            <svg width="250px" height="166px" viewBox="0 0 250 164">

                                <g id="Frame">
                                  <g id="Conversation" transform="translate(64 40)">
                                    <path d="M148 0C154.628 0 160 5.37168 160 12L160 72C160 78.6283 154.628 84 148 84L12 84C5.37168 84 0 78.6283 0 72L0 12C0 5.37168 5.37168 0 12 0L148 0Z" id="Shape" fill="#DFE4E8" stroke="none" />
                                    <path d="M77 24C78.1047 24 79 24.8953 79 26L79 28C79 29.1047 78.1047 30 77 30L29 30C27.8953 30 27 29.1047 27 28L27 26C27 24.8953 27.8953 24 29 24L77 24Z" id="Shape" fill="#C6CFD4" stroke="none" />
                                  </g>

                                  <g id="Conversation_hover" transform="translate(37 80)">
                                    <path d="M148 0C154.628 0 160 5.37168 160 12L160 72C160 78.6283 154.628 84 148 84L12 84C5.37168 84 0 78.6283 0 72L0 12C0 5.37168 5.37168 0 12 0L148 0Z" id="Shape" fill="#FDFDFD" stroke="none" />
                                    <path d="M70 32C71.1047 32 72 32.8953 72 34L72 36C72 37.1047 71.1047 38 70 38L22 38C20.8953 38 20 37.1047 20 36L20 34C20 32.8953 20.8953 32 22 32L70 32Z" id="Shape" fill="#DFE4E8" stroke="none" />
                                    <path d="M122 48C123.105 48 124 48.8953 124 50L124 52C124 53.1047 123.105 54 122 54L22 54C20.8953 54 20 53.1047 20 52L20 50C20 48.8953 20.8953 48 22 48L122 48Z" id="Shape" fill="#DFE4E8" stroke="none" />
                                  </g>

                                  <g id="Forme">
                                    <path d="M0 74.5C0 72.0147 2.01472 70 4.5 70C6.98528 70 9 72.0147 9 74.5C9 76.9853 6.98528 79 4.5 79C2.01472 79 0 76.9853 0 74.5Z" id="Oval" fill="#AFBCC2" fill-rule="evenodd" stroke="none" />
                                    <path d="M222 132.5C222 130.015 224.015 128 226.5 128C228.985 128 231 130.015 231 132.5C231 134.985 228.985 137 226.5 137C224.015 137 222 134.985 222 132.5Z" id="Oval" fill="#AFBCC2" fill-rule="evenodd" stroke="none" />
                                    
                                    <path d="M172 5.5C172 2.46243 174.462 0 177.5 0C180.538 0 183 2.46243 183 5.5C183 8.53757 180.538 11 177.5 11C174.462 11 172 8.53757 172 5.5Z" id="path_2" fill="none" stroke="#AFBCC2" strokeWidth="2"/>
                                    <path d="M28 21.5C28 18.4624 30.4624 16 33.5 16C36.5376 16 39 18.4624 39 21.5C39 24.5376 36.5376 27 33.5 27C30.4624 27 28 24.5376 28 21.5Z" id="path_3" fill="none" stroke="#AFBCC2" strokeWidth="2"/>
                                    <path d="M104.5 8C105.329 8 106 8.67145 106 9.5L106 11L107.5 11C108.329 11 109 11.6714 109 12.5C109 13.3286 108.329 14 107.5 14L106 14L106 15.5C106 16.3286 105.329 17 104.5 17C103.671 17 103 16.3286 103 15.5L103 14L101.5 14C100.671 14 100 13.3286 100 12.5C100 11.6714 100.671 11 101.5 11L103 11L103 9.5C103 8.67145 103.671 8 104.5 8L104.5 8Z" id="Shape" fill="#AFBCC2" fill-rule="evenodd" stroke="none" />
                                    <path d="M13.5 124C14.3286 124 15 124.671 15 125.5L15 127L16.5 127C17.3286 127 18 127.671 18 128.5C18 129.329 17.3286 130 16.5 130L15 130L15 131.5C15 132.329 14.3286 133 13.5 133C12.6714 133 12 132.329 12 131.5L12 130L10.5 130C9.67145 130 9 129.329 9 128.5C9 127.671 9.67145 127 10.5 127L12 127L12 125.5C12 124.671 12.6714 124 13.5 124L13.5 124Z" id="Shape" fill="#AFBCC2" fill-rule="evenodd" stroke="none" />
                                    <path d="M245.5 52C246.329 52 247 52.6714 247 53.5L247 55L248.5 55C249.329 55 250 55.6714 250 56.5C250 57.3286 249.329 58 248.5 58L247 58L247 59.5C247 60.3286 246.329 61 245.5 61C244.671 61 244 60.3286 244 59.5L244 58L242.5 58C241.671 58 241 57.3286 241 56.5C241 55.6714 241.671 55 242.5 55L244 55L244 53.5C244 52.6714 244.671 52 245.5 52L245.5 52Z" id="Shape" fill="#AFBCC2" fill-rule="evenodd" stroke="none" />
                                  </g>
                                </g>
                              </svg>

                              <span class="waiting-text">Choisissez une personne dans le menu de gauche
                                et commencez votre conversation
                            </span>
                        </section>
                    </div>
                <% } %>
            </section>

            <section class="dashboard-sidebar">
                <!-- Contenu de la barre latérale (droite) -->
                <h2>Notifications</h2>
                <ul>
                    <li>Invitation de groupe</li>
                    <li>Alerte importante</li>
                    <li>Événement à venir</li>
                </ul>
            </section>
        </div>
    </main>

</body>

<% if (data.showConversationData && data.showConversationData.show == true && data.showConversationData.conversationData) { %>
<script>
    let toggleBtn = document.querySelector('.toggle-btn');
    let menuProfilList = document.querySelector('.menu-list');

    toggleBtn.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        menuProfilList.classList.toggle('menu-profil-active');
    });

    document.addEventListener('click', function(e) {
        if (!e.target.closest('.toggle-btn') && !e.target.closest('.menu-list')) {
            if (menuProfilList.classList.contains('menu-profil-active')) {
                menuProfilList.classList.remove('menu-profil-active');
            }
        }
    });
</script>
<% } %>
</html>
